# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# Environment
NODE_ENV=development

# Authentication (se necessário)
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3001